<% form_tag orgs_path, :method => 'get', :id => "orgs_search" do %>
	<%= hidden_field_tag :direction, params[:direction] %>  
	<%= hidden_field_tag :sort, params[:sort] %>
	<p>
		<%= text_field_tag :search, params[:search], :id => "search_bar", :class => "default-value", :value => "Search for a keyword, city, state or zip"%>
		
	<input type = "submit" value="Search Organizations" class="button_red">
	</p>
<% end %>