<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>fivelabels | user driven private sales</title>
<%= stylesheet_link_tag :all %>
<%= javascript_include_tag :all %>
<%= csrf_meta_tag %>
<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
<!--[if IE 6]><link rel="stylesheet" type="text/css" href="/css/ie6.css" media="screen" /><![endif]-->
<!--[if IE 7]><link rel="stylesheet" type="text/css" href="/css/ie.css" media="screen" /><![endif]-->
</head>

<body>


<!-- Begin Container -->
<div class="container_12">
	<div class="grid_12">
	
		<ul class="nav">
			<li><a href="#"> Home </a> </li>
			<li><a href="#"> About </a> </li>
			
			<li><a href="#"> How it Works </a> </li>
			
			
		</ul>
			
			
		<h1 id="branding">
			<%= image_tag('fivelabels_logo_60.jpg') %>
		</h1>
	
</div>

<div class="clear"></div>





<!-- End Navigation. Begin Header -->
<div class="clear"></div>






<div class="clear"></div>

<!--begin main -->
<div id="main">
	



	
	<!-- user nav -->
	<div class="right">

	</div>  
		
	<!-- main content -->
	<div class="grid_6">
		<div id="content">
		
			
			<div id="search_box">
				<form action="" method="get">

				<input type="text" name="search" id="search_bar" size="35" value="">
				<br/>
				
				<input type="submit" class="button_black" value="Go">

				</form>
			</div>
		</div>
	</div>
		
	<!-- sidebar -->
		<div class="grid_6">
			<div id="intro">
		
			<h3> Amazing deals on your top 5 clothing labels. </h3>
			
			<p>Fivelabels lets you rank and connect with your 5 favorite labels, getting exclusive discounts and preview sales for clothes you'll actually wear.</p>
			
			<p> We're currently in beta and accepting new members. </p>
		</div>
	
	
</div>
	


</div>




<div class="clear"></div>


<!--end of hidden divs displaying column sizes. Begin templates and prototypes for forms, accordions, jquery, etc -->


<!-- begin footer -->
<div class="grid_12" id="site_info">
	
	<p>Copyright 2010 fivelabels </p>
<div class="box">
<p></p>
</div>
</div>
<div class="clear"></div>
</div>
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.8.5.custom.js"></script>
<script type="text/javascript" src="js/jquery-fluid16.js"></script>
</body>
</html>